header {
  grid-area: header;
  padding: 1rem;
  background-color: $mine-shaft;
  figure {
    @include flex;
    svg {
      @include size(50px, 50px);
      fill: $white;
    }
    h1 {
      margin: 0.5rem 1.25rem;
    }
  }
}
