$ask: ask;
$bid: bid;
$depthChart: depth-chart;
$fairMarketPrice: fair-market-price;
$gridRow: grid-row; 
$hover: hover;
$orderBook: order-book;

:export {
  ask: $ask;
  bid: $bid;
  depthChart: $depthChart;
  fairMarketPrice: $fairMarketPrice;
  gridRow: $gridRow;
  hover: $hover;
  orderBook: $orderBook;
}
