@import './base/reset';
@import './base/colors';
@import './base/typography';
@import './base/breakpoints';
@import './_variables';
@import './components/header';
@import './features/depth-chart/index';
@import './features/orderbook/index';


html, body {
  background-color: $heavy-metal;
}

#app {
  height: 100%;
  text-align: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "chart orderbook";
  //   @include large {
  //     background-color: red;
  // }
}

  .#{$bid}{
    color: $green;
  }
  .#{$ask}{
    color: $milano-red;
  }