html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(34, 36, 34);
}

* {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

#app {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "header"
  "main"
  // TODO use grid properly here to setup the whole page
  // "header" "header"
  // "chart" "table"
}

header{
  grid-area: header;
  // Don't need another grid here - flex will do
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "logo heading";
  padding: 1rem;
  background-color: #2B2B2B;
  .logo {
    grid-area: logo;
    height: 50px;
    width: 50px;
    svg{
      fill: white;
    }
  }
}

header h1{
  grid-area: heading;
}


.page-container {
  grid-area: main;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart-container{
  min-height: 40rem;
  min-width: 40rem;
  background-color: blue;
}

.orderbook-container{
  ul {
    .orderbook-price-ask{
      color: #C60606;
    }
    .orderbook-price-bid{
      color: #00B909;
    }
    li{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      text-align: right;
      &.hover{
        cursor: pointer;
        background-color: #2B2B2B;
        opacity: 0.7;
      }
      em { 
        opacity: 0.5;
        font-style: normal;
      }
    }
  }
}